@media screen and (max-width: 1570px) {
    .first-screen {
        .slick-arrow {
            background-position: 20px;
        }
    } 
    .calculation {
        .container {
            &:after {
                right: 0;
            }
        }
    } 
    
    .about {
        .about__img {
            img {
                width: 100%;
            }
        }
    }
    
    .faq {
        .accordion {
            margin-right: 15px;
        }
    }

    .faq-form {


        .input-box {
            input {

                &[type="text"],
                &[type="tel"],
                &[type="email"],
                &[name="question"] {
                    width: 100%;
                }
            }
        }
    }

    .cooperation {

        .cooperation-faq__first,
        .cooperation-faq__second {



            .cooperation-description__first,
            .cooperation-description__second {
                font-weight: 400;
                font-size: 16px;
                line-height: 149.5%;
                margin: 0;

                .dot {
                    &:before {
                        margin-right: 4px;
                    }
                }
            }

            .cooperation-description__first {
                p {
                    margin: 37px auto -6px;
                    text-align: justify;
                }
            }
        }

        .cooperation-faq__second {
            margin-top: 50px;
        }



        .cooperation-img {
            width: 480px;
            height: 350px;
        }

        .cooperation-faq__first {
            .col-lg-6 {
                &:last-child {
                    margin-top: 37px;
                }
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    .slider-template {
        margin: 0 auto;
        width: 780px;

        .slick-arrow {
            &.slick-next {
                right: -80px;
            }

            &.slick-prev {
                left: -80px;
            }

        }
    }

    footer {
        .footer-info {
            margin: 0 auto;
        }
    }

}

@media screen and (max-width: 1199px) {

    .cooperation {

        .cooperation-faq__first,
        .cooperation-faq__second {

            .cooperation-description__first,
            .cooperation-description__second {
                font-weight: 400;
                font-size: 16px;
                line-height: 149.5%;
                margin: 0;

                .dot {
                    &:before {
                        margin-right: 4px;
                    }
                }
            }

            .cooperation-description__first {
                p {

                    &:nth-child(2),
                    &:nth-child(3) {
                        margin-top: 15px;
                    }
                }
            }

            .cooperation-description__second {
                p {
                    &:nth-child(2) {
                        margin: 15px 0px 20px 0;
                    }
                }
            }
        }


        .cooperation-img {
            width: 445px;
            height: 330px;
        }
    }
}