@media screen and (max-width: 991px) {
   .container {
      padding-left: 20px;
      padding-right: 20px;
   }
   header 
      .navbar {
         padding-top: 19px;
         padding-bottom: 17px;
         padding-left: 0;
         padding-right: 0;
         margin-bottom: 0;
      }

      .navbar-nav {
        text-align: center;
        padding: 34px 0 29px;
         .nav-link {
            font-size: 24px;
            line-height: 198%;
            text-align: center;
            color: #FFFFFF;
         }
      } 

      .navbar-collapse {
         background-color: #363A4D;
         margin: 0 -39px;
         transform: translate(0px, 15px);
         transition: 0.7s;
         .btn { 
            display: block;
            max-width: 295px;
            width: 100%;
            padding: 21.3px 22.5px;
            margin: 0 auto 60px;  
         }
      }   
   .screen-slider {
      
      .first-screen {
         text-align: center;
        
         &__title {
            font-size: 32px;
            margin: 0 auto 10px;
            max-width: 295px;
         } 
         &__subtitle {
            font-size: 16px;
            margin: 0 auto 18px;
            max-width: 277px;
         }
         .btn-lg {
            margin: 0 auto;
         }
        .slick-list {
            margin: 0 -13px;
            border-radius: 0;
         }
         .slick-slide {
            border-radius: 0;
            height: calc(100vh - 72px);
            padding: 26vh 0 228px;
            
            &:before {
               content: "";
               left: 0;
               top: 0;
               position: absolute;
               width: 100%;
               height: 100%;
               background: linear-gradient(180deg, rgb(4 5 17 / 1%), rgb(4 5 17 / 15%));
            }
           .container {
             z-index: 1; 
             position: relative;
            }
         }
      }   
      
   }
}


