@media screen and (max-width: 575px) {
    /*.first-screen {
        padding: 19.5px 33.7px;
        .btn-lg {
            .icon {
                margin: 0 -14px 0 auto;
                width: 27px;
                height: 27px;
            }
        }
    }*/
    
       

    .calculation-form {
        .btn-lg {
            padding: 19.5px 45px;
            width: 100%;
            .icon {
                margin: 0 -14px 0 auto;
                width: 27px;
                height: 27px;    
            }
         }
    }

    .dilivery {
        .slick-slide:after {
            left: 0;
            right: 0;
        }
       .slider-template__img-box {
            margin-bottom: 43px;
        }
        .slider-template__btn-row{
            padding: 0 15px;
            .btn {
                white-space: nowrap;
                width: 138px;
                min-width: 138px;
            }
        } 
    }

    .slider-template {
       width: 335px;

        .slick-slide {
            padding: 0 0 27px;
        }
        .slick-dots {
            margin-top: 33px;
        }
    }

    .about-company {
        .about__description {
            font-size: 16px;
            line-height: 149.5%;
            margin-top: -13px;
            text-align: justify;
        }

        .about__img {
            margin: 25px auto 0;
            width: 275px;

            img {
                width: 100%
            }
        }

    }

    footer {
        .first-section {
            text-align: center;
            margin: 0 20px;
        }
    }

    .faq {
        .accordion {
            margin: 0 auto;

            .accordion-body {
                padding: 0px 22px 12px;
                font-size: 14px;

            }

            .accordion-button.collapsed {
                padding: 12px 22px;
            }

            .accordion-button {
                padding: 16px 22px 10px;
                font-size: 16px;
                height: 64px;
            }
        }
    }

    .faq-form {
        margin: 0 auto;
        margin-top: 28px;
        max-width: 335px;
        padding: 38px 20px;

        h3,
        p {
            text-align: center;
            padding-left: 15px;
            padding-right: 15px;
        }

        .input-box {
            input {

                &[type="text"],
                &[type="tel"],
                &[type="email"],
                &[name="question"] {
                    max-width: 295px;
                }
            }
        }
    }

    .cooperation {

        .cooperation-faq__first,
        .cooperation-faq__second {

            .cooperation-description__first,
            .cooperation-description__second {
                font-weight: 400;
                font-size: 16px;
                line-height: 149.5%;
                margin: 0;

                .dot {
                    &:before {
                        margin-right: 4px;
                    }
                }
            }

            .cooperation-description__first {
                p {
                    margin: 37px auto -6px;
                    text-align: justify;

                    &:nth-child(2),
                    &:nth-child(3) {
                        margin-top: 30px;
                    }
                }
            }

            .cooperation-description__second {
                p {
                    margin: 31px auto -7px;
                    text-align: justify;
                    letter-spacing: -0.1px;

                    &:nth-child(2) {
                        margin: 29px 0px 35px 0;
                    }
                }
            }
        }

        .cooperation-faq__second {
            margin-top: 50px;
        }



        .cooperation-img {
            width: 100%;
            height: 220px;
        }


        .btn {
            margin-top: -10px;
            display: flex;
            justify-content: space-between;
            letter-spacing: -0.3px;
            width: 100%;
        }

        .cooperation-faq__first {
            display: flex;
            flex-direction: column-reverse;

            .col-lg-6 {
                &:last-child {
                    margin-top: 0;
                }
            }
        }

        .template-title h3 {
            font-size: 16px;
        }
    }

    footer {
        .first-section {
            text-align: center;
            margin: 0 20px;
        }
    }

}
