@media screen and (max-width: 1570px) {
    .first-screen {
        .slick-arrow {
            background-position: 20px;
        }
    } 
    .calculation {
        .container {
            &:after {
                right: 0;
            }
        }
    } 
    
    .about {
        .about__img {
            img {
                width: 100%;
            }
        }
    }
    
}

@media screen and (max-width: 1400px) {
    .slider-template {
        margin: 0 auto;
        width: 780px;

        .slick-arrow {
            &.slick-next {
                right: -80px;
            }

            &.slick-prev {
                left: -80px;
            }

        }
    }

    footer {
        .footer-info {
            margin: 0 auto;
        }
    }
}

