@media screen and (max-width: 991px) {
   .first-screen {
      text-align: center;
      padding: 0;
      overflow: hidden;
   }
   
   section,.first-screen {
      margin-bottom: 56px;
   }
   
   section {
      &.container-fluid,
      &.advantages.container-fluid {
         padding: 55px 0 60px;
         &:before {
            left: 0;
            right: 0;
            border-radius: 0;
         }
      }
   }
      


   header {
      .container {
      padding-left: 20px;
      padding-right: 20px;
      }
   
      
      .navbar {
         padding-top: 19px;
         padding-bottom: 17px;
         padding-left: 0;
         padding-right: 0;
         margin-bottom: 0;
      }

      .navbar-nav {
        text-align: center;
        padding: 34px 0 29px;
         .nav-link {
            font-size: 24px;
            line-height: 198%;
            text-align: center;
            color: #FFFFFF;
         }
      } 
   
      .navbar-collapse {
         background-color: #363A4D;
         margin: 0 -39px;
         transform: translate(0px, 15px);
         transition: 0.7s;
         text-align: center;
         padding: 0 40px;
         .btn { 
            display: block;
            max-width: 295px;
            width: 100%;
            padding: 21.3px 22.5px;
            margin: 0 auto 60px;  
         }
      }  
   }
      
      
   
      
   .first-screen-slider {
      .container {
         display: flex;
         flex-direction: column;
         align-items: center;
         text-align: center;
      }
      .slick-slide {
         border-radius: 0;
         height: calc(100vh - 72px);
         padding: 26vh 0 228px;
         
         &:before {
            content: "";
            left: 0;
            top: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgb(4 5 17 / 1%), rgb(4 5 17 / 15%));
         }
         
      } 
      .first-screen {
         text-align: center;
         padding: 0;
         overflow: hidden;
   
         &__title {
            font-size: 32px;
            margin: 0 auto 10px;
            max-width: 295px;
         } 
         &__subtitle {
            font-size: 16px;
            margin: 0 auto 18px;
            max-width: 277px;
         }
         .btn-lg {
            margin: 0 auto;
         }
         .slick-list {
            margin: 0 -13px;
            border-radius: 0;
         }
         
         
      }     
   }

   .template-title {
      margin-bottom: 40px;
      h2 {
      font-size: 24px;
      text-align: center;
      }
      &.text-left {
         &:after {
         left: 50%;
         transform: translate(-50%, 0);
         }
      }
      &.col-lg-7 {
         h2 {
            &:after {
            position: absolute;
            left: 50%;
            top: calc(100% - 2px);
            transform: translate(-50%, 0);
            margin: 0;
            }
         }
         
      }
   }



   .calculation {
      margin-bottom: 60px;
      .container {
          &:after {
              display: none;
          }
      }
   }

   .calculation-form {
      margin: 0;
      padding: 52px 30px 34px;
   }

   .advantages {
      .slick-list {
      padding-top: 12px;
      }
   }

   .advantage-title {
      max-width: 263px;
      margin: 0 auto;
   }

   .slider-template {
      width: 390px;
  }
   .about {
      .about__img {
         margin: 25px auto 0;
         width: 375px;
      }
   }

   footer {
      .first-section {
          text-align: center;
          margin: 0 20px;
      }
   }

   .faq {
      .accordion {
         margin: 0 auto;

         .accordion-body {
            padding: 0px 70px 12px 22px;
            font-size: 14px;

         }

         .accordion-button.collapsed {
            padding: 12px 22px;
         }

         .accordion-button {
            padding: 16px 22px 10px;
            font-size: 16px;
            height: 64px;
         }
      }
   }

   .faq-form {
      margin: 0 auto;
      margin-top: 28px;
      max-width: 335px;
      padding: 38px 20px;

      h3,
      p {
         text-align: center;
         padding-left: 15px;
         padding-right: 15px;
      }

      .input-box {
         input {

            &[type="text"],
            &[type="tel"],
            &[type="email"],
            &[name="question"] {
                  max-width: 295px;
            }
         }
      }
   }

   .cooperation {
      .cooperation-faq__first,
      .cooperation-faq__second {

         .cooperation-description__first,
         .cooperation-description__second {
            font-weight: 400;
            font-size: 16px;
            line-height: 149.5%;
            margin: 0;

            .dot {
                  &:before {
                     margin-right: 4px;
                  }
            }
         }

         .cooperation-description__first {
            p {
                  margin: 37px auto -6px;
                  text-align: justify;
            }
         }
      }

      .cooperation-faq__second {
         margin-top: 50px;
      }

      .cooperation-description__second {
         p {
            margin: 31px auto -7px;
            text-align: justify;
            letter-spacing: -0.1px;
         }
      }

      .cooperation-img {
         width: 400px;
         height: 270px;
         margin: 0 auto;
         display: flex;
      }

      .btn {
         margin: 0 auto;
         display: flex;
      }

      .cooperation-faq__first {
         display: flex;
         flex-direction: column-reverse;
      }
   }
   
   footer {
      .first-section {
          text-align: center;
          margin: 0 20px;
      }
   }
}



