@media screen and (max-width: 575px) {
    .first-screen {
        padding: 19.5px 33.7px;
        .btn-lg {
            .icon {
                margin: 0 -14px 0 auto;
                width: 27px;
                height: 27px;
            }
        }
    }
    
       

    .calculation-form {
        .btn-lg {
            padding: 19.5px 45px;
            width: 100%;
            .icon {
                margin: 0 -14px 0 auto;
                width: 27px;
                height: 27px;    
            }
         }
    }

    .dilivery {
        .slick-slide:after {
            left: 0;
            right: 0;
        }
       .slider-template__img-box {
            margin-bottom: 43px;
        }
        .slider-template__btn-row{
            padding: 0 15px;
            .btn {
                white-space: nowrap;
                width: 138px;
                min-width: 138px;
            }
        } 
    }

    .slider-template {
       width: 335px;

        .slick-slide {
            padding: 0 0 27px;
        }
        .slick-dots {
            margin-top: 33px;
        }
    }

    .about-company {
        .about__description {
            font-size: 16px;
            line-height: 149.5%;
            margin-top: -13px;
            text-align: justify;
        }

        .about__img {
            margin: 25px auto 0;
            width: 275px;

            img {
                width: 100%
            }
        }

    }

    footer {
        .first-section {
            text-align: center;
            margin: 0 20px;
        }
    }

}
