.about-company {

    .about__description {
        margin-right: 3.5px;
        font-weight: 300;
        font-size: 18px;
        line-height: 170%;
        
        .margin-primary {
            margin-top: -7px;
        }

        .margin-secondary {
            margin-top: 22px;
        }  
    }

    .about__img {
        margin-top: -172px;
        margin-left: 10.5px;
    }
}