.first-screen {
    position: relative;
    margin-bottom: 100px;
    &__title {
        max-width: 463px;
        font-family: ProximaNova;
        font-weight: 700;
        font-size: 56px;
        line-height: 126%;
        text-transform: uppercase;
        margin-bottom: 8px;
    }
    &__subtitle {
        max-width: 345px;
        font-family: ProximaNova;
        font-style: 400;
        font-size: 20px;
        line-height: 136%;
        margin-bottom: 37px;
    }    
    .btn-lg {
        padding: 19.5px 33.7px;
    }
}
.first-screen-slider {
    position: relative;
    .slick-dots {
        position: absolute;
        left: 50%;
        transform: translate(-50px, 0);
        top: calc(100% - 66px);
        
    }  
        
    .slick-list {
        margin: 0 -13px;
    }

    .screen-slider {
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 20px;
        margin: 0 13px;
        background-position: center;
        padding: 163px 98px 228px;
    }      
    
}


.container-arrows {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
    max-width: 1523px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 0;

    
}




/*.first-screen-slider {
    button.btn-primary {
        position: relative;
        background-color: $color-primary;
        color: $text-color;
        font-family: normal;
        font-style: 600;
        font-size: 18px;
        line-height: 146%;
        padding: 23px 97px 22px 33px;
        border-radius: 90px;  
        border: 1px solid #E58D35;
    }
        button.btn-primary::after {
            content: "";
            position: absolute;
            background-image: url(assets/img/vector-arrow-1.svg);
            width: 26px;
            height: 26px;
            top: 24px;
            right: 22px;
        } 
}
*/
