.first-screen {
    .slik-slide {
        padding: 162px 0 228px;
    }
    &__title {
        max-width: 463px;
        font-family: normal;
        font-style: Bold;
        font-size: 56px;
        line-height: 126%;
        text-transform: uppercase;
        margin-bottom: 8px;
    }
    &__subtitle {
        max-width: 345px;
        font-family: normal;
        font-style: light;
        font-size: 20px;
        line-height: 136%;
        margin-bottom: 37px;
    }   
    button.btn-primary {
        position: relative;
        background-color: $color-primary;
        color: $text-color;
        font-family: normal;
        font-style: Semibold;
        font-size: 16px;
        line-height: 146%;
        padding: 23px 97px 22px 33px;
        border-radius: 90px;  
    }
        &::after {
            content: "";
            position: absolute;
            background-image: url(assets/img/vector_arrow.svg) center no-repeat;
            width: 26px;
            height: 26px;
        } 
}

