footer{
    .container {
        &:before {
            content: "";
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            max-width: 1140px;
            height: 2px;
            background: $color-primary;
            width: calc(100% - 40px);
        }
    }

    .footer-info {
        padding-top: 40px;
        padding-bottom: 59px;
    }

    .second-section {
        margin: -3px 0 0px 63px
    }

    .third-section {
        margin: -3px 0 0 24px;
    }

    .fourth-section {
        margin: -3px 0 0 13px;
    }

    .address-column {

        h4,
        a {
            font-size: 14px;
            line-height: 162.5%;
            font-weight: 400;

        }

        h4 {
            &:first-child {
                margin: 28px 0 0;
            }
        }

        .email {
            color: #fff;
            text-decoration-line: underline;

            &:hover {
                text-decoration-line: none;
                transition: .3s;
            }
        }

        .social-network__img {
            margin-top: 18px;

            img {
                margin-right: 4px;
            }
        }
    }

    .footer-column__link {
        display: flex;
        flex-direction: column;

        a {
            color: #85899C;
            text-decoration-line: underline;
            margin-top: 6.5px;

            &:nth-child(2) {
                margin-top: 10px;
            }

            &:nth-child(3) {
                margin-top: 8px;
            }

            &:nth-child(4) {
                margin-top: 8px;
            }

            &:nth-child(6) {
                margin-top: 10px;
            }


            &:hover {
                color: #fff;
                text-decoration-line: none;
                transition: .3s;
            }
        }
    }


}





a.markap, .github {
    position: fixed;
    left: 20px;
    bottom: 5px;
    text-decoration: none;
    color: #fff;
    border: 2px solid black;
    border-radius: 40px;
    padding: 5px 10px;
    background-color: black;
    display: inline-block;
    width: fit-content;
    line-height: 2;
    &:hover {
        color: blue;
        background-color: $color-secondary;
    }
}
a.github {
    left: 20px;
    bottom: 0px;
    padding: 4px 14px;
}
