footer{
    height: 100px;
    background: $color-secondary;
    margin-top: 56px;
}

a.markap, .github {
    position: fixed;
    left: 20px;
    bottom: 5px;
    text-decoration: none;
    color: #fff;
    border: 2px solid black;
    border-radius: 40px;
    padding: 5px 10px;
    background-color: black;
    display: inline-block;
    width: fit-content;
    line-height: 2;
    &:hover {
        color: blue;
        background-color: $color-secondary;
    }
}
a.github {
    left: 20px;
    bottom: 0px;
    padding: 4px 14px;
}
