::selection {
    color: $text-color;
    background-color: $color-secondary;
}

body {
    background-color: $bg-primary;
    color: $text-color;
    font-family: $font-primary;
}

a {
    color: $color-primary;
    &:hover {
        color: $color-secondary;
        text-decoration: none;
    }
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 700;
    line-height: 1.26;
}
h1,.h1 {
    font-size: 56px;
}
h2,.h2 {
    font-size: 36px;
}
h3,.h3 {
    font-size: 24px;
}
h4,.h4 {
    font-size: 22px;
}
h5,.h5 {
    font-size: 20px;
}
h6,.h6 {
    font-size: 18px;
}


.container-xxl {
    max-width: 1820px;
}

.wf-300 {
    font-weight: 300;
}
.wf-400 {
    font-weight: 400;
}
.wf-600 {
    font-weight: 600;
}
.wf-700 {
    font-weight: 700;
}

.check-button {
    margin-bottom: 14px;
}
