<section class="about">
    <div class="container">
        <div class="template-title text-left">
            <h2>О компании</h2>
        </div>
        <div class="about-company row">
            <div class="col-lg-6">
                <div class="about__description">
                    <p class="margin-primary">Компания Азия Карго - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украину. Для вашего удобства есть тарифы на лёгкий и тяжелый куб. Мы работаем на рынке более 4 лет, а руководители компании занимаются логистикой уже более 11 лет.
                    <p class="margin-secondary"> Мы стремимся предоставить лучшие условия доставки и лучший сервис своим клиентам. Выбирая нас - вы выбираете качественную доставку оптимальную по цене и времени! Убедитесь в этом сами!</p>
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about__img">
                    <img src="assets/img/about.png" alt="about">
                </div>
            </div>
        </div>
    </div>
</section>