<section class="advantages container-fluid">
	<div class="container">
		<div class="template-title">
			<h2>Почему стоит выбрать именно нас?</h2>
		</div>
		<div class="advantages-slider row">
			<div class="col-lg-3">
				<div class="advantage">
					<div class="advantage-img">
						<img src="assets/img/adv-1.svg" alt="adv-1" />
					</div>
					<h4 class="advantage-title">Таможенное оформление груза</h4>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="advantage">
					<div class="advantage-img">
						<img src="assets/img/adv-2.svg" alt="adv-2" />
					</div>
					<h4 class="advantage-title">Страховка груза</h4>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="advantage">
					<div class="advantage-img">
						<img src="assets/img/adv-3.svg" alt="adv-3" />
					</div>
					<h4 class="advantage-title">Проверка товара на брак</h4>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="advantage">
					<div class="advantage-img">
						<img src="assets/img/adv-4.svg" alt="adv-4" />
					</div>
					<h4 class="advantage-title">Доставка в любой город Украины</h4>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="advantage">
					<div class="advantage-img">
						<img src="assets/img/adv-5.svg" alt="adv-5" />
					</div>
					<h4 class="advantage-title">Консолидация на складе</h4>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="advantage">
					<div class="advantage-img">
						<img src="assets/img/adv-6.svg" alt="adv-6" />
					</div>
					<h4 class="advantage-title">Ответственное хранение груза</h4>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="advantage">
					<div class="advantage-img">
						<img src="assets/img/adv-7.svg" alt="adv-7" />
					</div>
					<h4 class="advantage-title">Помощь в оплате товара</h4>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="advantage">
					<div class="advantage-img">
						<img src="assets/img/adv-8.svg" alt="adv-8" />
					</div>
					<h4 class="advantage-title">
						Упаковка, переупаковка, паллетирование груза к международной
						перевозке
					</h4>
				</div>
			</div>
		</div>
	</div>
</section>
