<section class="calculation">
    <div class="container">
        <div class="template-title col-md-7">
            <h2>Получить рассчет стоимости доставки вашего груза</h2>
        </div>
        <form class="calculation-form">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-box">
                        <label for="category-shipment">Категория товара:</label>
                        <input type="text" id="category-shipment" name="category-shipment" placeholder="Категория товара">
                    </div>
                    <div class="input-box">
                        <label for="weight-shipment"> Вес груза (кг):</label>
                        <input type="number" id="weight-shipment" name="weight-shipment" placeholder="Введите вес">
                    </div>
                </div>
    
                <div class="col-md-6">
                    <div class="input-box">
                        <label for="price-shipment">Стоимость груза:</label>
                        <input type="number" id="price-shipment" name="price-shipment" placeholder="Введите стоимость">
                    </div>
                    <div class="input-box">
                        <label for="valume-shipment">Объем груза (м3):</label>
                        <input type="number" id="valume-shipment" name="valume-shipment" placeholder="Введите объем">
                    </div>
                </div>
            </div>
            <div class="row">  
                <div class="col-md-6">
                    <div class="check-button">
                        <input id="insurance" type="checkbox" name="insurance" checked>
                        <label for="insurance">Страховка</label>
                    </div>
                    <div class="check-button">
                        <input id="customs-clearance" type="checkbox" name="customs-clearance">
                        <label for="customs-clearance">Таможенное оформление</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-box">
                        <label for="Invoice-code">Код ТН ВЭД:</label>
                        <input type="text" id="Invoice-code" name="Invoice-code" placeholder="Введите код">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="file-name">
                       фотография.jpeg
                    </div>
                    <div class="file-row">
                        <label for="fileInput" class="label-file">Загрузить фото товара</label>
                        <input class="input-file" id="fileInput" name="fileInput" type="file">
                        <div class="file-row__text">
                            Загрузить фото товара
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary btn-lg">Следующий шаг <img src="assets/img/vector-arrow-1.svg" class="icon" alt="arrow"></button>
                </div>
            </div>
        </form>
    </div>
    
</section>