<section class="cooperation container-fluid">
    <div class="container">
        <div class="template-title">
            <h2>Готовы к сотрудничеству?</h2>
            <h3>Зарегистрируйте груз!</h3>
        </div>
        <div class="cooperation-faq__first row">
            <div class="col-lg-6">
                <div class="cooperation-description__first">
                    <p class="dot">Для того, чтобы начать сотрудничество, необходимо оформить груз указав информацию о содержимом груза, его стоимость и количество. А так-же прикрепив фотографии к заявке.</p>
                    <p class="dot">Если требуется проверка товара на соответсвие количеству, то при оформлении груза на нашем сайте укажите это в графе "Примечание". Данная услуга платная и составляет 3 юаня за одну позицию в заказе. Любые дополнительные проверки груза обсуждаются индивидуально в том числе и их стоимость.</p>
                    <p class="dot">До отправки груза на наш склад в Китае обязательно позаботьтесь о том, чтобы сделать маркировку, с номером Вашего заказа у нас на сайте, для каждой внешней коробки, чтобы мы смогли определить именно Ваш груз. Если у Вас нет возможности сделать это самостоятельно, то попросите об этом своего поставщика.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <img class="cooperation-img" src="assets/img/cooperation-1.png">
            </div>
        </div>
        <div class="cooperation-faq__second row">
            <div class="col-lg-6">
                <img class="cooperation-img" src="assets/img/cooperation-2.png">
            </div>
            <div class="col-lg-6">
                <div class="cooperation-description__second">
                    <p class="dot">После отправки груза на наш склад в Китае, Вам обязательно нужно указать трек-номер для отслеживания посылок по Китаю для каждой позиции в заказе. Внести трек-номер можно на странице заказа. Трек-номер - это ещё одна мера для идентификации Вашего груза на нашем складе.</p>
                    <p class="dot">Если Вы оформили груз по нашей инструкции и сделали все правильно, то при получении Вашего груза на складе в Китае статус заказа изменится на "На складе".</p>
                    <button type="button" class="btn btn-primary btn-lg">Оформить груз<img src="assets/img/cooperation-arrow-right.svg" class="icon" alt="icon"></button>
                </div>
            </div>
        </div>
    </div>
</section>
