<section class="dilivery">
    <div class="container">
        <div class="template-title">
            <h2>Варианты доставки грузов из Китая</h2>
        </div>
        <div class="slider-template">
            <div>
                <div class="slider-template__img-box">
                    <img src="assets/img/delivery-1.png" class="img-fluid" alt="dilivery">
                </div>
                <h4 class="slider-template__title">Авто - обычна</h4>
                <div class="slider-template__info">
                    <div class="slider-template__info-day">9-15 дней</div>
                    <div class="slider-template__info-weight">от 5 кг</div>
                </div>
                <div class="slider-template__price">
                    <span>от</span>
                    <strong>2,5</strong>
                    <span>$/кг</span>
                </div>
                <div class="slider-template__btn-row">
                    <button type="button" class="btn btn-primary">Оставить заявку</button>
                    <button type="button" class="btn btn-secondary">Подробнее</button>
                </div>
            </div>
            <div>
                <div class="slider-template__img-box">
                    <img src="assets/img/delivery-2.png" class="img-fluid" alt="dilivery">
                </div>
                <h4 class="slider-template__title">Авто - обычна</h4>
                <div class="slider-template__info">
                    <div class="slider-template__info-day">9-15 дней</div>
                    <div class="slider-template__info-weight">от 5 кг</div>
                </div>
                <div class="slider-template__price">
                    <span>от</span>
                    <strong>2,5</strong>
                    <span>$/кг</span>
                </div>
                <div class="slider-template__btn-row">
                    <button type="button" class="btn btn-primary">Оставить заявку</button>
                    <button type="button" class="btn btn-secondary">Подробнее</button>
                </div>
            </div>
            <div>
                <div class="slider-template__img-box">
                    <img src="assets/img/delivery-3.png" class="img-fluid" alt="dilivery">
                </div>
                <h4 class="slider-template__title">Авто - обычна</h4>
                <div class="slider-template__info">
                    <div class="slider-template__info-day">9-15 дней</div>
                    <div class="slider-template__info-weight">от 5 кг</div>
                </div>
                <div class="slider-template__price">
                    <span>от</span>
                    <strong>2,5</strong>
                    <span>$/кг</span>
                </div>
                <div class="slider-template__btn-row">
                    <button type="button" class="btn btn-primary">Оставить заявку</button>
                    <button type="button" class="btn btn-secondary">Подробнее</button>
                </div>
            </div>
            <div>
                <div class="slider-template__img-box">
                    <img src="assets/img/delivery-4.png" class="img-fluid" alt="dilivery">
                </div>
                <h4 class="slider-template__title">Авто - обычна</h4>
                <div class="slider-template__info">
                    <div class="slider-template__info-day">9-15 дней</div>
                    <div class="slider-template__info-weight">от 5 кг</div>
                </div>
                <div class="slider-template__price">
                    <span>от</span>
                    <strong>2,5</strong>
                    <span>$/кг</span>
                </div>
                <div class="slider-template__btn-row">
                    <button type="button" class="btn btn-primary">Оставить заявку</button>
                    <button type="button" class="btn btn-secondary">Подробнее</button>
                </div>
            </div>
            <div>
                <div class="slider-template__img-box">
                    <img src="assets/img/delivery-5.png" class="img-fluid" alt="dilivery">
                </div>
                <h4 class="slider-template__title">Авто - обычна</h4>
                <div class="slider-template__info">
                    <div class="slider-template__info-day">9-15 дней</div>
                    <div class="slider-template__info-weight">от 5 кг</div>
                </div>
                <div class="slider-template__price">
                    <span>от</span>
                    <strong>2,5</strong>
                    <span>$/кг</span>
                </div>
                <div class="slider-template__btn-row">
                    <button type="button" class="btn btn-primary">Оставить заявку</button>
                    <button type="button" class="btn btn-secondary">Подробнее</button>
                </div>
            </div>
        </div>
       
</section>