<section class="first-sreen container-xxl">
    <div class="first-screen-slider">
        <div class="screen-slider" style="background-image: url(assets/img/screen-1.jpg);">
            <div class="container">
                <div class="first-screen__title">Прямое КАРГО из Китая</div>
                <div class="first-screen__subtitle">Доставляем любые грузы из Китая по честной цене</div>
                <button class="btn-primary">Рассчитать стоимость</button>
            </div> 
        </div>
        <div class="screen-slider" style="background-image: url(../assets/img/screen-2.jpg);">
            <div class="container">
                <div class="first-screen__title">Выкуп товара с ТаоБао, 1688</div>
                <div class="first-screen__subtitle">Выкуп и доставка товаров с китайских торговых площадок</div>
                <button class="btn-primary">Рассчитать стоимость</button>
            </div> 
        </div>
        <div class="screen-slider" style="background-image: url(../assets/img/screen-3.jpg);">
            <div class="container">
                <div class="first-screen__title">Экспресс авто доставка</div>
                <div class="first-screen__subtitle">Доставка автотранспортом из Китая в Украину от 15 дней, от $0,5/кг</div>
                <button class="btn-primary">Рассчитать стоимость</button>
            </div> 
        </div>
        <div class="screen-slider" style="background-image: url(assets/img/screen-4.jpg);">
            <div class="container">
                <div class="first-screen__title">Экспресс авто доставка</div>
                <div class="first-screen__subtitle">Доставка автотранспортом из Китая в Украину от 15 дней, от $0,5/кг</div>
                <button class="btn-primary">Рассчитать стоимость</button>
            </div> 
        </div>
    </div>
    
</section>