<footer>
	<div class="container">
		<div class="footer-info row">
			<div class="col-md-3">
				<div class="first-section">
					<img src="assets/img/logo-lg.svg" alt="logo">
					<div class="address-column">
						<h4>8(800)600-18-69</h4>
						<a class="email" href="#">info@cargoasia.info</a>
						<h4>Адрес в Китае: <br> 浙江省金华市义乌市后宅街道洪华小区5 <br> 栋一单元一楼RT789库房 高建军 电话15966660379</h4>
						<div class="social-network__img">
							<img src="assets/img/instagram.jpeg" alt="instagram" style="width: 32px; height: 32px;">
							<img src="assets/img/twiter.png" alt="twiter" style="width: 32px; height: 32px;">
							<img src="assets/img/telegram.jpeg" alt="telegram" style="width: 32px; height: 32px;">
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 d-none d-md-block">
				<div class="second-section">
					<h5>Грузоперевозки</h5>
					<div class="footer-column__link">
						<a href="#">Цены и сроки</a>
						<a href="#">Услуги</a>
						<a href="#">О компании</a>
						<a href="#">Контакты</a>
						<a href="#">Оформить груз</a>
					</div>
				</div>
			</div>
			<div class="col-md-3 d-none d-md-block">
				<div class="third-section">
					<h5>Услуги</h5>
					<div class="footer-column__link">
						<a href="#">Выкуп товара</a>
						<a href="#">Страховка груза</a>
						<a href="#">Аренда склада</a>
						<a href="#">Перевод денежных средств</a>
					</div>
				</div>
			</div>
			<div class="col-md-3 d-none d-md-block">
				<div class="fourth-section">
					<h5>Информация</h5>
					<div class="footer-column__link">
						<a href="#">Отзывы</a>
						<a href="#">Требования к грузу</a>
						<a href="#">Договор-оферта</a>
						<a href="#">Как заключить договор</a>
						<a href="#">Способы оплаты услуг</a>
						<a href="#">Документы</a>
						<a href="#">Статьи</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<a href="markap.html" class="markap" target="_blank">markap</a>
<a href="https://github.com/fhntv81/First-project-2023.git" class="github" target="_blank">github</a>
<script src="assets/js/jQuery v3.6.4.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/fancybox.min.js"></script>
<script src="assets/js/custom.js"></script>
</body>
</html>