<section class="faq">
    <div class="container">
        <div class="template-title ">
            <h2>Часто задаваемые вопросы</h2>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
            Как рассчитывается стоимость доставки?
        </button>
    </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionPanelsStayOpenExample">
                            <div class="accordion-body">
                                Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у вас нет валютного счёта, то можете оплатить товар в гривнах на наш счет.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
            Как происходит оплата за доставку груза?
        </button>
    </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionPanelsStayOpenExample">
                            <div class="accordion-body">
                                Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у вас нет валютного счёта, то можете оплатить товар в гривнах на наш счет.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            Как происходит оплата за доставку груза?
        </button>
    </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionPanelsStayOpenExample">
                            <div class="accordion-body">
                                Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у вас нет валютного счёта, то можете оплатить товар в гривнах на наш счет.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="true" aria-controls="panelsStayOpen-collapseFour">
            Можно ли через вас оплатить товар поставщику?
        </button>
    </h2>
                        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse show" data-bs-parent="#accordionPanelsStayOpenExample">
                            <div class="accordion-body">
                                Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у вас нет валютного счёта, то можете оплатить товар в гривнах на наш счет.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
            В чём особенность КАРГО доставки из Китая
        </button>
    </h2>
                        <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionPanelsStayOpenExample">
                            <div class="accordion-body">
                                Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у вас нет валютного счёта, то можете оплатить товар в гривнах на наш счет.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
            Какой срок доставки из Китая?
        </button>
    </h2>
                        <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionPanelsStayOpenExample">
                            <div class="accordion-body">
                                Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя. Если у вас нет валютного счёта, то можете оплатить товар в гривнах на наш счет.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form class="faq-form col-lg-4">
                <h3>Остались вопросы?</h3>
                <p>Оставьте заявку и наш менеджер ответит вам в ближайшее время</p>
                <div class="input-box">
                    <label for="fname"></label>
                    <input type="text" id="fname" name="fname" placeholder="Имя *">
                </div>
                <div class="input-box">
                    <label for="telephone"></label>
                    <input type="tel" id="telephone" name="telephone" placeholder="Телефон *">
                </div>
                <div class="input-box">
                    <label for="email"></label>
                    <input type="email" id="email" name="email" placeholder="E-mail">
                </div>
                <div class="input-box">
                    <label for="question"></label>
                    <input type="text" id="question" name="question" placeholder="Ваш вопрос">
                </div>
                <button type="button" class="btn btn-primary btn-lg">Отправить запрос<img src="assets/img/icon-arrow-left.svg" class="icon" alt="icon"></button>
            </form>
        </div>
    </div>
</section>